<!DOCTYPE html>
<html>
<head>
  <title>%%%BLOG-TITLE%%%</title>
  <link href="main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="header">
  	<a href="/index.html">%%%BLOG-TITLE%%%</a>
  </div>
  <div id="sidebar">
  	<div id="author-pic"><img src="images/me.jpg"></div>
  	<p id="about-me">Qasim Ali, some guy who likes computers and taking photos.</p>
  	<p>This is dummy text. Eventually (or maybe hopefully), the final version of the blog will have more stuff here.</p>
  	<p>This section will probably contain info about me and links to my stuff.</p>
  	<div id="links">
  		<ul>
  			<li><a href="http://flickr.com/photos/whjms">Flickr</a></li>
  			<li><a href="https://github.com/whjms/">GitHub</a></li>
  		</ul>
  	</div>
  </div>
  <div id="content">%%%POSTS%%%</div>
</body>
</html>