  <div class="post">
      <div class="post-header">
        <p class="post-title">
          %%%post-title%%%
        </p>
        <p class="post-timestamp">%%%post-timestamp%%%</p>
      </div>
      <div class="post-content">
        <p>%%%post-content%%%</p>
      </div>
      <div class="full-link"><a href="%%%full-link%%%">Permalink</a></div>
</div>