<div class="post">
      <div class="post-header">
        <p class="post-title">
          %%%POST-TITLE%%%
        </p>
        <p class="post-timestamp">%%%POST-TIMESTAMP</p>
      </div>
      <div class="post-content">
        <p>%%%POST-CONTENT%%%</p>
      </div>
      <div class="full-link"><a href="/2014/02/06/test.html">%%%FULL-LINK%%%</a></div>
</div>