<div class="post">
      <div class="post-header">
        <p class="post-title">
          %%%POST-TITLE%%%
        </p>
        <p class="post-timestamp">%%%POST-TIMESTAMP</p>
      </div>
      <div class="post-content">
        <p>%%%POST-CONTENT%%%</p>
      </div>
      <div class="full-link"><a href="%%%FULL-LINK%%%">Read More</a></div>
</div>